@page "/"
@inject Services.CosmosDBService cosmosService

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

Hi, welcome to IBAS Cycling. 

@code {
	private async void test(){
		cosmosService.TestConnection();
	}
	protected override Task OnInitializedAsync()
	{
		test();
		return base.OnInitializedAsync();
	}
}
